################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xam.Sf.FormsPdf/v16/Server/sqlite3
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf/bin/Debug/netstandard2.0
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf/obj
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf.Android/bin/Debug
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf.Android/obj
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf.iOS/obj
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf.UWP/obj
/.vs/*
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf.iOS/bin
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf.UWP/bin/x86/Debug
/Xam.Sf.FormsPdf/Xam.Sf.FormsPdf.UWP/Xam.Sf.FormsPdf.UWP.csproj.user
