################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xam.Sf.FormsPdf/v16/Server/sqlite3
