<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prism.Core" version="6.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.Compression" version="14.3.0.52" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.Pdf" version="14.3.0.52" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Wibci.LogicCommand" version="1.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Wibci.Xamarin.Images" version="1.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Wibcisoft.Xamarin.Forms.Converters" version="1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Media" version="2.6.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>